<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
      <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
      <!-- nav bar -->
      <div class="w-100 mb-4 d-flex">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" routerLink="/home">
          <img class="col-10" src="../../../../assets/images/logo/logofull3.png"  alt="">
        </a>
      </div>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">
            <i class="fe fe-home fe-16"></i>
            <span class="ml-3 item-text">Dashboard</span>
          </a>
        </li>
      </ul>
      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Chức năng</span>
      </p>
      <ul class="navbar-nav flex-fill w-100 mb-2">
        <li class="nav-item dropdown">
          <a routerLink="/home/nhacungcap" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Nhà cung cấp</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/loaisanpham" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Loại sản phẩm</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/sanpham" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Sản phẩm</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/khachhang" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Khách hàng</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/nhanvien" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Nhân viên</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/hoadonnhap" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Hóa đơn nhập</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/chitiethoadonnhap" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Chi tiết hóa đơn nhập</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="/home/hoadonban" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Hóa đơn bán</span>
          </a>
        </li><li class="nav-item dropdown">
          <a routerLink="/home/chitiethoadonban" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Chi tiết hóa đơn bán</span>
          </a>
        </li><li class="nav-item dropdown">
          <a routerLink="/home/taikhoan" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Tài khoản</span>
          </a>
        </li><li class="nav-item dropdown">
          <a routerLink="/home/slide" class="nav-link">
            <i class="fe fe-box fe-16"></i>
            <span class="ml-3 item-text">Slide</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
