<main class="main">
    <app-slideshow></app-slideshow>
    <!-- End .intro-slider-container -->
    <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->
    <app-product-hot></app-product-hot>
    <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->
    <app-cate-hit></app-cate-hit><!-- End .container-fluid --><!-- End .page-content -->  

    <div class="mb-5"></div><!-- End .mb-5 -->
    <!-- End .bg-light -->

    <app-product-index></app-product-index>
    <div class="container">
        <hr class="mt-1 mb-6">
    </div><!-- End .container -->
    <app-blog-index></app-blog-index><!-- End .banner-group -->
</main>
