<div class="container">
    <div class="heading heading-center mb-3">
        <h2 class="title">Sản phẩm nổi bật</h2><!-- End .title -->
    </div><!-- End .heading -->

    <div class="tab-content">
        <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
            <div class="products">
                <div class="row justify-content-center">
                    <div *ngFor="let sp of dsSanpham" class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-11 text-center">
                            <figure class="product-media">
                                <a [routerLink]="['/product-detail',sp.product_id]">
                                    <img src="assets/images/img-nussee/{{sp.product_img}}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist "><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{{sp.cate_name}}</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a [routerLink]="['/product-detail',sp.product_id]">{{sp.product_name}}</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    {{sp.product_sale|currency:"VND"}}
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                            <div class="product-action">
                                <div (click)="addcart(sp)" class="btn-product btn-cart"><span>add to cart</span></div>
                            </div><!-- End .product-action -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- .End .tab-pane -->
        
    </div><!-- End .tab-content -->
</div>