<div class="wrapper">
    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="row">
              <!-- Small table -->
              <div class="col-md-12 my-4">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="toolbar">
                      <form [formGroup]="frmSearch" (ngSubmit)="LoadData()" class="form">
                        <div class="form-row">
                          <div class="form-group col-auto mr-auto">
                            <a routerLink="/home/loaisanpham/add">
                              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".create_new" data-whatever="@mdo">Thêm mới
                                <i class="fa-solid fa-plus"></i>
                              </button>
                            </a> 
                          </div>
                          <div class="form-group col-auto">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" formControlName="ten" class="form-control" id="search1" value="" placeholder="Search">
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- table -->
                    <table class="table table-borderless table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th>ID</th>
                          <th class="w-15">Tên loại sản phẩm</th>
                          <th class="w-20">Ảnh mẫu</th>
                          <th class="w-20">Ghi chú</th>
                          <th>Ngày tạo</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let lsp of dsLoaisanpham | paginate :{itemsPerPage: tablesize,
                        currentPage: page,
                        totalItems: count
                      }">
                        <tr>
                          <td>
                            <div>
                              <p><strong>{{lsp.cate_id}}</strong></p>
                            </div>
                          </td>
                          <td>
                            <p><strong>{{lsp.cate_name}}</strong></p>
                          </td>
                          <td>
                            <p><strong>{{lsp.cate_img}}</strong></p>
                          </td>
                          <td>
                            <p><strong>{{lsp.cate_note}}</strong></p>
                          </td>
                          <td>
                            <p><strong>{{lsp.cate_date_created | date :"dd/MM/yyyy"}}</strong></p>
                          </td>
                          <td>
                            <a routerLink="/home/loaisanpham/edit/{{lsp.cate_id}}"><button type="button" class="btn mb-2 btn-outline-warning">Sửa</button></a>
                            <button (click)="xoaLoaisanpham(lsp)" type="button" class="btn mb-2 btn-outline-danger">Xóa</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav aria-label="Table Paging" class="mb-0 text-muted">
                      <ul class="pagination justify-content-center mb-0">
                        <div style="width:300px;text-align: right;">
                          <pagination-controls
                          previousLabel="Quay lại"
                          nextLabel="Tiếp"
                          (pageChange)="dataChange($event)"></pagination-controls>
                        </div>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div> <!-- customized table -->
            </div> <!-- end section -->
          </div> <!-- .col-12 -->
        </div> <!-- .row -->
      </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->

<!-- MODAL -->
<div class="modal fade" id="varyModal" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="varyModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn mb-2 btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div><!-- MODAL -->